<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.cn.dao.MiaoshaGoodMapper">
  <resultMap id="BaseResultMap" type="com.cj.cn.pojo.MiaoshaGood">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="miaosha_price" jdbcType="DECIMAL" property="miaoshaPrice" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>

  <select id="getList" resultType="com.cj.cn.vo.GoodVO">
    SELECT g.*, mg.stock_count, mg.start_date, mg.end_date, mg.miaosha_price
        FROM miaosha_goods mg LEFT JOIN goods g
        ON mg.goods_id = g.id
  </select>

  <select id="getDetailById" resultType="com.cj.cn.vo.GoodVO">
    SELECT g.*, mg.stock_count, mg.start_date, mg.end_date, mg.miaosha_price
        FROM miaosha_goods mg LEFT JOIN goods g
        ON mg.goods_id = g.id
        WHERE g.id = #{goodsId}
  </select>

  <update id="reduceCount">
      UPDATE miaosha_goods set stock_count = stock_count - 1
      <where>
          goods_id = #{goodsId} AND stock_count > 0
      </where>
  </update>
</mapper>